<!-- https://realfavicongenerator.net/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ 'favicons/mfg/ios.png' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="{{ 'favicons/mfg/favicon.png' | relative_url }}"
/>
<link rel="manifest" href="{{ 'favicons/mfg/site.webmanifest' | relative_url }}" />

<!-- https://metatags.io/ -->
<meta
  property="og:image"
  content="{{ 'image/ece_logo.jpg' | relative_url }}"
/>
<meta
  property="twitter:image"
  content="{{ 'image/ece_logo.jpg' | relative_url }}"
/>
